<?xml version='1.0' encoding='utf-8'?>
<widget id="org.apache.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>citizensReport</name>
    <description>
        A simple Apache Cordova application that allows citizens to report incidents in their community.
    </description>
    <author email="bakrejafar126@gmail.com" href="https://bakrejaafar.vercel.app/">
        Bakre Jaafar
    </author>
    <content src="index.html" /><preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="23" />
    <preference name="BackupWebStorage" value="none" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <allow-navigation href="*" />
    <access origin="*" /><preference name="DisallowOverscroll" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <allow-navigation href="*" />
    <access origin="*" />
</widget>

