body {
  font-family: Arial;
  padding: 20px;
}

input,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

.card {
  background: #f4f4f4;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
